body {
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  font-size: 16px; }

.container {
  max-width: 1245px; }

a:focus {
  color: #3399cc; }

h1 {
  font-size: 48px; }

h3 {
  font-size: 36px; }

h5 {
  font-size: 24px; }

/*=========================
        HEADER
==========================*/
#home {
  background: url("../img/header-bg.png") no-repeat fixed center;
  background-size: cover;
  min-height: 927px;
  color: #fff; }
  #home .buy-now button {
    padding: 40px 68px;
    background-color: inherit;
    border: 2px solid #fff;
    color: #fff;
    font-size: 29px; }
    #home .buy-now button:hover {
      cursor: pointer; }
  #home a {
    color: #fff;
    font-size: 24px; }
    #home a:focus {
      color: #3399cc; }
  #home .navbar-brand {
    font-size: 70px;
    font-weight: 500; }
  #home .title {
    margin-top: 165px;
    margin-bottom: 50px;
    font-weight: 300;
    line-height: 90px; }

/*=========================
        BANNER
==========================*/
#banner {
  background-color: #fff;
  max-width: 1245px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: -100px;
  padding: 0 100px 0 40px;
  box-shadow: 0px 8px 11px 0px #cccccc; }
  #banner h3 {
    color: #333;
    font-weight: 300; }
  #banner h1 {
    font-weight: 300;
    margin-top: 33px;
    color: #999999; }
  #banner .circle {
    line-height: 1;
    width: 207px;
    height: 207px;
    background-color: #3399cc;
    border-radius: 50%;
    color: #fff;
    font-weight: 800;
    font-size: 46px;
    right: -85px;
    top: 25px; }

/*=========================
        TOP PRODUCTS
==========================*/
#top-products {
  background: url("../img/products-bg.png") no-repeat fixed center;
  background-size: cover;
  min-height: 956px; }
  #top-products h3 {
    color: #999999;
    font-weight: 300; }
  #top-products .swiper-container {
    padding-top: 110px;
    width: 100%;
    height: 100%; }
  #top-products .swiper-slide {
    margin: 0px 60px !important;
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }
    #top-products .swiper-slide img {
      box-shadow: 0px 8px 11px 0px #cccccc !important; }

/*=========================
        SERVICES
==========================*/
#services {
  padding-top: 145px;
  min-height: 1000px; }
  #services h3 {
    color: #999999;
    font-weight: 300;
    margin-bottom: 50px; }
  #services .card {
    padding: 77px 50px 77px 50px;
    max-width: 360px;
    height: 360px;
    border: 0;
    margin-bottom: 40px; }
    #services .card:hover {
      cursor: pointer;
      box-shadow: 0 4px 8px 0 #cccccc, 0 6px 20px 0 #cccccc; }
    #services .card h5 {
      margin-top: 30px;
      color: #999999;
      font-weight: 300; }
    #services .card p {
      color: #999999;
      font-size: 16px;
      font-weight: 300;
      line-height: 25px; }
  #services .service-item {
    height: 362px;
    width: 360px;
    padding: 81px; }
    #services .service-item .h5 {
      font-weight: 300; }
    #services .service-item p {
      font-size: 16px;
      font-weight: 300; }
    #services .service-item .icon {
      width: 70px;
      height: 70px;
      margin-bottom: 35px; }

/*=========================
        OUR PRODUCTS
==========================*/
#our-products {
  background: url("../img/our-products-bg.png") no-repeat fixed center;
  background-size: cover; }
  #our-products .col-md-4 {
    padding: 0;
    margin-bottom: 20px; }
  #our-products h3 {
    padding: 125px 0px 110px 0px;
    color: #999999;
    font-weight: 300; }
  #our-products .products-thumb {
    margin: 0;
    overflow: hidden;
    padding: 0;
    margin: 0 auto;
    box-shadow: 0 4px 4px 0 #cccccc, 0 6px 20px 0 #cccccc; }
    #our-products .products-thumb img {
      height: 100%;
      width: 100%; }
    #our-products .products-thumb:hover .products-overlay {
      opacity: 1;
      cursor: pointer; }
    #our-products .products-thumb .products-overlay {
      opacity: 0;
      height: 100%;
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      position: absolute;
      background: rgba(51, 153, 204, 0.6);
      padding: 20px;
      margin-left: auto;
      margin-right: auto; }
      #our-products .products-thumb .products-overlay button {
        font-size: 18px;
        padding: 36px 48px;
        background-color: rgba(51, 153, 204, 0.12);
        border: 2px solid #fff;
        color: #fff;
        font-size: 29px;
        font-weight: 400; }
  #our-products .products-thumb, #our-products .products-overlay {
    height: 390px;
    max-width: 390px; }
